html {
    user-select: none;
    -webkit-user-select: none;
}
body {
    font-family: arial;
    font-size: 13px;
    background: black url("/assets/images/background.jpg") no-repeat center top;
    margin: 10px 0 0 0;
}
#page {
    width: 882px;
    margin: 0 auto;
    color: #fff;
}
#left-column {
    width: 672px;
    float: left;
}
#right-column {
    width: 200px;
    float: left;
    margin-left: 10px;
}
#message-box {
}
#movement {
    width: 200px;
    height: 150px;
    background-image: url("/assets/images/compass.jpg");
}
#movement .direction {
    position: absolute;
    color: #fff;
    text-shadow: 0 3px 3px #000;
    font-size: 20px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    font-weight: bold;
}
#movement .direction:hover {
    color: #654827;
}
#movement .direction.west {
    margin-top: 63px;
    margin-left: 27px;
}
#movement .direction.east {
    margin-top: 63px;
    margin-left: 148px;
}
#movement .direction.south {
    margin-top: 125px;
    margin-left: 86px;
}
#movement .direction.north {
    margin-top: 2px;
    margin-left: 86px;
}
#messages {
    background-color: black;
    color: white;
    display: block;
    height: 286px;
    font-family: Consolas;
    overflow: auto;
    font-size: 11px;
}
#messages, input {
    user-select: auto;
    -webkit-user-select: auto;
}
#messages .username {
    color: #eee;
}
#messages .server .username {
    color: #ee2c2c;
}
#messages .help .username {
    color: #2c2cee;
}
#messages .help .content {
    color: #999;
}
#messages .self .username,
#messages .self .content {
    color: #999;
}
#messages .client .username {
    color: #ee9e2c;
}
#messages .user .username {
    color: #2c83ee;
}
#message-input {
    width: 200px;
}
#message-send {
    display: none;
}
#terraform img {
    cursor: crosshair;
    margin: 10px 0;
}
#terraform span {
    cursor: pointer;
    color: red;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
