html {
    user-select: none;
    -webkit-user-select: none;
}
body {
    font-family: arial;
    font-size: 13px;
    background: black url("/assets/images/background.jpg") no-repeat center top;
    margin: 10px 0 0 0;
}
#page {
    width: 882px;
    margin: 0 auto;
    color: #fff;
}
#left-column {
    width: 672px;
    float: left;
}
#right-column {
    width: 200px;
    float: left;
    margin-left: 10px;
}
#message-box {
}
#movement {
    width: 200px;
    height: 150px;
    background-image: url("/assets/images/compass.jpg");
}
#movement .direction {
    position: absolute;
    color: #fff;
    text-shadow: 0 3px 3px #000;
    font-size: 20px;
    text-align: center;
    width: 30px;
    cursor: pointer;
    font-weight: bold;
}
#movement .direction:hover {
    color: #654827;
}
#movement .direction.west {
    margin-top: 63px;
    margin-left: 27px;
}
#movement .direction.east {
    margin-top: 63px;
    margin-left: 148px;
}
#movement .direction.south {
    margin-top: 125px;
    margin-left: 86px;
}
#movement .direction.north {
    margin-top: 2px;
    margin-left: 86px;
}
#messages {
    background-color: black;
    color: white;
    display: block;
    height: 286px;
    font-family: Consolas;
    overflow: auto;
    font-size: 11px;
}
#messages, input {
    user-select: auto;
    -webkit-user-select: auto;
}
#messages .username {
    color: #eee;
}
#messages .server .username {
    color: #ee2c2c;
}
#messages .help .username {
    color: #2c2cee;
}
#messages .help .content {
    color: #999;
}
#messages .self .username,
#messages .self .content {
    color: #999;
}
#messages .client .username {
    color: #ee9e2c;
}
#messages .user .username {
    color: #2c83ee;
}
#message-input {
    width: 200px;
}
#message-send {
    display: none;
}
#terraform {
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    height: 256px;
}
#terraform span {
    cursor: pointer;
    color: red;
    margin-left: 10px;
    float: left;
    text-decoration: underline;
}
#terraform .selector {
    pointer-events: none;
    width: 16px;
    height: 16px;
    outline: 1px solid white;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.25);
}
#tileset {
    width: 480px;
    height: 256px;
    cursor: none;
    background: transparent url("/assets/tilesets/Cobalt_Calibur.png") no-repeat top left;
    float: left;
}
#nametags {
    position: absolute;
}
#nametags .name {
    position: relative;
    width: 100px;
    text-align: center;
    opacity: 0.75;
}
#nametags .name span {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 11px;
    font-family: verdana;
}
