html {
    user-select: none;
    -webkit-user-select: none;
}
body {
    font-family: arial;
    font-size: 13px;
    background: black;
    margin: 10px 0 0 0;
}
#page {
    width: 512px;
    height: 512px;
    background: black url("/assets/images/interface.png") no-repeat top left;
    margin: 0 auto;
    position: relative;
    color: white;
}
#gamefield {
    width: 272px;
    height: 272px;
    position: absolute;
    left: 16px;
    top: 48px;
}
#messagefield {
    color: #fff;
    position: absolute;
    left: 32px;
    top: 352px;
    width: 240px;
    height: 128px;
}
#inventoryfield {
    left: 320px;
    top: 64px;
    width: 160px;
    height: 240px;
    position: absolute;
}
#inventoryfield .inventory {
    padding: 17px 16px 0 0;
    color: #000;
}
#inventoryfield .inventory-display {
    text-align: right;
    padding-right: 16px;
    height: 24px;
    font-size: 15px;
    font-family: Consolas;
}
#messages {
    background-color: black;
    color: white;
    display: block;
    font-family: Consolas;
    overflow: auto;
    font-size: 10px;
    height: 110px;
}
#clock {
    position: absolute;
    right: 8px;
    bottom: 6px;
    font-family: consolas;
    font-size: 11px;
    text-shadow: 0px 1px 1px #000;
}
#messages, input {
    user-select: auto;
    -webkit-user-select: auto;
}
#messages .username {
    color: #eee;
}
#messages .server .username {
    color: #ee2c2c;
}
#messages .help .username {
    color: #2c2cee;
}
#messages .help .content {
    color: #999;
}
#messages .self .username,
#messages .self .content {
    color: #999;
}
#messages .client .username {
    color: #ee9e2c;
}
#messages .user .username {
    color: #2c83ee;
}
#message-input {
    width: 240px;
    border: 0px;
    background-color: #fff;
    color: #000;
}
#message-send {
    display: none;
}
#nametags {
    position: absolute;
    width: 272px;
    height: 272px;
    overflow: hidden;
    background: transparent url("/assets/images/map-overlay.png") no-repeat top left;
}
#nametags .name {
    position: absolute;
    width: 128px;
    text-align: center;
    opacity: 0.75;
}
#nametags .name span {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 9px;
    font-family: Verdana;
}
